version: '3.8'
services:
  gateway:
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 20s
      update_config:
        parallelism: 1
        order: start-first
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
        order: start-first
    image: {{ registry_url }}/gateway:{{ gateway_version }}
    ports:
      - {{ gateway_port }}:5001
    volumes:
      - {{ data_dir }}:/data
    networks:
       - main_app_{{ deploy_color}}
    environment:
      - EMB_SERVING_URL={{ emb_serving_url }}
      - CENTROIDS_PATH=/data/generation/{{ data_gen_version }}/centroids.pkl
      - FAISS_WORKER_HOST={{ faiss_worker_swarm_host }}
      - FAISS_WORKER_ENDPOINT=/kneighbors
      - FAISS_WORKER_START_PORT={{ faiss_worker_start_port }}

  # two worker for each host
  {% for i in range(2) %}

  faiss_worker_{{ i }}:
    deploy:
      replicas: 1
      placement:
        # max_replicas_per_node: 1
        constraints: [node.hostname == kcloud-production-user-3267-vm-810]
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 20s
      update_config:
        parallelism: 1
        order: start-first
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
        order: start-first
    image: {{ registry_url }}/faiss_worker:{{ faiss_worker_version }}
    ports:
      - {{ faiss_worker_start_port + i }}:5001
    volumes:
      - {{ data_dir }}:/data
    networks:
      - main_app_{{ deploy_color}}
    environment:
      - DATA_PATH=/data/generation/{{ data_gen_version }}/cluster/{{ i }}/embs.pkl
  {% endfor %}

  {% for i in range(2,4) %}

  faiss_worker_{{ i }}:
    deploy:
      replicas: 1
      placement:
        #  max_replicas_per_node: 1
        constraints: [node.hostname == kcloud-production-user-3267-vm-811]
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 20s
      update_config:
        parallelism: 1
        order: start-first
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
        order: start-first
    image: {{ registry_url }}/faiss_worker:{{ faiss_worker_version }}
    ports:
      - {{ faiss_worker_start_port + i }}:5001
    volumes:
      - {{ data_dir }}:/data
    networks:
      - main_app_{{ deploy_color}}
    environment:
      - DATA_PATH=/data/generation/{{ data_gen_version }}/cluster/{{ i }}/embs.pkl
  {% endfor %}

networks:
  main_app_{{ deploy_color}}:

 